@using Microsoft.AspNetCore.Identity
@using Composr.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <div class="navbar-form input-group pull-right">
            <a asp-controller="Manage" asp-action="Index" title="Manage" class="btn btn-link">Hello @UserManager.GetUserName(User)</a> |
            <button type="submit" class="btn btn-link">Log off</button> 
        </div>
    </form>
}