@model Composr.Web.ViewModels.PostViewModel
@{
    ViewBag.Title = "Create New Post";
}

<ol class="breadcrumb">
    <li><a href="/admin/blogs">blogs</a></li>
    <li><a href="/admin/blogs/@Model.BlogId/posts">posts</a></li>
    <li class="active">details</li>
</ol>

<form method="post">
    <div class="btn-toolbar" role="toolbar">
        <button type="submit" class="btn btn-primary pull-right">Save</button>
        <button type="button" class="btn btn-default pull-right">Cancel</button>
    </div>

    <div class="form-group">
        <label for="title">Title</label><input class="form-control" type="text" name="title" id="title" asp-for="Title" required/>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" name="body" id="body" asp-for="Body" rows="10" required> </textarea>

        <div class="radio">            
            <label class="radio-inline"><input type="radio" name="optradio" value="draft" />Draft</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="published" />Published</label>
        </div>
    </div>
</form>