@model Composr.Web.ViewModels.PostViewModel
@{
    ViewBag.Title = "Post Details";
}

<ol class="breadcrumb">
    <li><a href="/admin/blogs">blogs</a></li>
    <li><a href="/admin/blogs/@Model.BlogId/posts">posts</a></li>
    <li class="active">details</li>
</ol>

<form method="post">
    <div class="btn-toolbar" role="toolbar">
        <button type="submit" class="btn btn-primary pull-right">Save</button>
        <button type="button" class="btn btn-default pull-right" asp-action="Index">Cancel</button>
    </div>

    <div asp-validation-summary="ValidationSummary.ModelOnly"></div>

    <div class="form-group">
        <label for="title">Title</label><input class="form-control" type="text" name="title" id="title" asp-for="Title" value="@Model.Title" required minlength="5" maxlength="100"/>
        <span asp-validation-for="title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" name="body" id="body" asp-for="Body" rows="10" required>@Model.Body</textarea>
        <span asp-validation-for="title" class="text-danger"></span>

        <div class="radio">
            <label class="radio-inline"><input type="radio" name="optradio" value="draft" />Draft</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="published" />Published</label>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}