@model Composr.Web.ViewModels.PostSearchViewModel

<section class="container">
<h1>Mauritian Cuisine</h1>
<p>A spicy, colourful, aromatic and incredibly tasty blend of native African, French, Chinese and Indian cuisine that reflects the ethnic diversity of the people of Mauritius.</p>
<h2>Recipes</h2>
Use the searchbox at the top to find more recipes. For example, type <i>pudding</i>.
@Html.Partial("SearchResultsPartialView", Model.SearchResults)
</section>
<section class="container">
    @Html.Partial("PaginatorPartialView", Model)
</section>