@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model Composr.Web.ViewModels.PostSearchViewModel

<section class="container">
<h1>@Localizer["Mauritian Cuisine"]</h1>
<p>@Localizer["A spicy, colourful, aromatic and incredibly tasty blend of native African, French, Chinese and Indian cuisine that reflects the ethnic diversity of the people of Mauritius."]</p>
<h2>@Localizer["Recipes"]</h2>
</section>