body, .container {
    font-family: 'Open Sans';     
    line-height:25px;
}

p {
    font-size: 1.1em;
    text-align: justify;
}
        
li.media.mediatopborder{
    margin-top:0;
}

.polaroid {    
    border-radius:5px;
    box-sizing:border-box;
    border:solid 1px rgba(0, 0, 0, 0.14);
    margin-top:20px;
    margin-bottom:20px;  
    min-height:273px;
}

.polaroid > a > header, p{     
    padding:0 10px 0 10px;    
    color:rgb(51, 51, 51);
}
    
.polaroid > a > p{     
    font-size:1em;
    text-decoration:none;
}

.polaroid > a > img{     
    width:100%;
}
    
.polaroid:hover {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.20);
    background-color:rgb(250, 250, 250);
}        

a:hover{
    text-decoration:none;
}

.img-details-page{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    max-height:420px;
    border-radius:2px;    
    box-sizing:border-box;
    border:solid 1px rgba(0, 0, 0, 0.1);
}

.img-thumbnail {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { 
    display: inline-block; 
}

.navbar-default{
    background: rgb(248,248,248);
    padding-bottom:8px;
    margin-bottom:10px;
}

html .clearfix { 
    height: 1%; 
}

.navbar-inner{ 
    min-height:1000px;
}

h1{
    padding-top:0;
    margin-top:0;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

h2{
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.slider-container .csslider1 {
    position: relative;
    display: block;
    margin: 0 auto !important;
}

hr{
    margin-bottom:5px;
    margin-top:5px;
}

footer{
    color:rgb(100, 100, 100);
    margin-top: 20px;
    padding-top:20px;
    border-top: 1px  solid rgb(221, 219, 219);
}

.slider-size {
    height: 400px; 
}

.breadcrumb{
    background-color:rgb(255, 255, 255);
    margin:0;
    padding:0;
}

article > ul > li{
    list-style-type: square;
}

article > ol > li{
    list-style-type:decimal;
}

.date{
    margin-bottom:20px;
}

.search-group{
    width:100%;
}

div.input-group-btn{
    text-align:left;
}

.navbar-form{
    border:none;
    padding-top:5px;
    padding-bottom:0;
    text-align:right;
}

.mediatopborder{
    border-top: 1px  solid rgb(221, 219, 219);
    padding-top:10px;
    padding-bottom:10px;
}

.searchurl{
    color:rgb(50, 159, 49);
}

.searchtext{
    font-size:0.98em;
}

.searchtags{
    font-size:0.9em;
    color:rgb(150,150,150);
}

.autocomplete-suggestions { border: 1px solid #999; background: rgb(255, 255, 255); overflow: auto;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.carousel-caption-text{
    background-color:rgba(40, 40, 40, 0.5);
    padding:5px 5px 5px 5px;
    text-align:center;
    font-size:large;
    color:rgb(255,255,255);
}

.carousel{
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.nav-collapse, .nav-collapse.collapse {
    overflow: visible;
}   
.navbar .btn-navbar {
    display: none;
}   