a, a:hover{
    color:#4779f1;
}

body{
   font-family: 'Open Sans', Arial;
}

header{
    margin-top:5px;
    margin-bottom:5px;
    text-align:center;
}

.list-group{
    margin-top:5px;
}

h1{
    padding-bottom:4px;
}

h3{
     border-bottom:solid 1px rgb(240,240,240);
}

a.logo, a.logo:hover{
    text-decoration:none;
    color:black;
}

.post-heading{
    margin-top:5px;
    margin-bottom:5px;
    padding-top:10px;
    border-bottom:solid 1px rgb(240,240,240);
}

.list-group-item{
    margin-top:5px;
    border:none;
    padding-left:0;
    padding-right:0;
}

p, .list-group-item-text{
    font-size:14px;
    text-align:justify;
    line-height:22.4px;
}

.search-results-heading > a, .search-results-heading > a:hover{
    color:rgb(51, 51, 51);
    text-decoration:none;
}

.search-results-heading, .post-heading{
    font-size:2em;
    color:rgb(51, 51, 51);
    border-bottom:solid 1px rgb(240,240,240);
}

footer{
    color:rgb(186, 182, 182);
    margin-top: 20px;
    padding-top:20px;
    border-top: 1px  solid rgb(240,240,240);
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

pre{
    margin-bottom:2em;
    background-color:rgb(255,255,255);
}

.pagefooter {
    background-color:rgb(60, 60, 60);
    color:grey;
    padding-top: 20px;
    padding-bottom: 10px;
}

.pagefooter .container .row > div > a
{
    color:white; 
}


.titleborder{
    border-bottom:1px solid rgb(170, 170, 170);
}



time{
    display: block;
    font-size: 92%;
    margin: 5px 0 0.8em 0;
    color:rgb(170, 170, 170);
}

.bodywrapper {
    min-height:calc(100vh - 122px);
}

.contentSub2 {
    font-size: 84%;
    line-height: 1.2em;
    margin: 0 0 1.4em 1em;
    color: #545454;
    width: auto;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px;
  font-size:13px;
}

figcaption, caption{
font-size:0.85em;
color:rgb(119, 119, 119);
line-height:20px;
padding-bottom:3px;
padding-top:8px;
}

@media only screen and (min-width : 100px) {
        .jumbo-text{
            padding-top:21px;
            font-size:26px;
        }
}

@media only screen and (min-width : 400px) {
        .jumbo-text{
            padding-top:23px;
            font-size:35px;
        }
}

/*@media only screen and (min-width : 570px) {
        .jumbo-text{
            padding-top:23px;
            font-size:35px;
        }
}*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .jumbo-text{
            padding-top:21px;
            font-size:40px;
        }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .jumbo-text{
            padding-top:19px;
            font-size:50px;
        }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .jumbo-text{
            padding-top:15px;
            font-size:60px;
        }
}

.breadcrumb{
    background-color:rgba(255, 255, 255,0);
    color:rgb(255,255,255);
    margin-bottom:0;
    padding-bottom:0;
    padding-left:0;
}

.breadcrumb > li >a {
    color:rgb(255,255,255);
}

.breadcrumb > li.active {
    color:rgb(255,255,255);
}