@model Composr.Web.ViewModels.BaseViewModel

<ul class="list-group">
    <a href="#" class="list-group-item">
        <h1 class="list-group-item-heading search-results-heading">A QR Code Api Based on a Custom ASP.Net Core Middleware</h1>
        <time class="date" datetime="2016-02-12">February 12, 2016</time>
        <p class="list-group-item-text">
            These are exciting times to be associated with .Net. The introduction of ASP.Net Core 1.0 (formerly Asp.Net 5) and .Net Core 1.0 is a major rethink of the platform to make it leaner, portable and more flexible.
            The new modular pipeline - made up of selective middlewares - can be hosted on IIS, its own process or any OWIN based server.
            This article describes a bare metal approach for creating an api to generate QR codes using a custom middleware without leveraging ASP.NET MVC. 
        </p>
        <p>
            Read more...
        </p>
    </a>


    <a href="#" class="list-group-item">
        <h1 class="list-group-item-heading search-results-heading">Generating XML Sitemaps from SQL Server</h1>
        <time class="date" datetime="2016-01-25">January 25, 2016</time>
        <p class="list-group-item-text">XML sitemaps, Atom and RSS are three popular xml based formats used to expose website content to interested parties such as crawlers.
            This article describes the use of T-SQL and xml functionality in SQL Server to generate xml sitemaps directly from a SQL Server database.
            The same principles can be applied to generate other xml formats such as Atom and RSS.</p>
        <p>Read more...</p>
    </a>
</ul>