body, .container {
    font-family: 'Open Sans';     
    line-height:20px;
}

a:hover {
    text-decoration:none;
}

p {
    font-size: 1.1em;
    text-align: justify;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0.5em;
}       
        

.polaroid {      
    margin-top:5px;      
    min-height:150px;
    border-radius:2px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20), 0 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20), 0 1px 1px rgba(0, 0, 0, 0.25); 
    padding:0 5px 0 5px;
}
        
.polaroid:hover {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.20);
}        

.polaroid > a > h3, p{
    padding: 0.25em;                
}

        
.polaroid-header{      
    margin-top:0;            
    margin-bottom:0; 
}

.img-thumbnail {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { 
    display: inline-block; 
}

.navbar-default{
    background: rgb(248,248,248);
    padding-bottom:8px;
    margin-bottom:10px;
}

html .clearfix { 
    height: 1%; 
}

.navbar-inner{ 
    min-height:1000px;
}

h1{
    padding-top:0;
    margin-top:0;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

h2{
    color:rgb(125,125,125);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

h3{
    color:rgb(140,140,140);
}

.slider-container .csslider1 {
    position: relative;
    display: block;
    margin: 0 auto !important;
}

hr{
    margin-bottom:5px;
    margin-top:5px;
}

footer{
    color:rgb(100, 100, 100);
    margin-top: 20px;
    padding-top:20px;
    border-top: 1px  solid rgb(221, 219, 219);
}

.slider-size {
    height: 400px; /* This is your slider height */
}

.breadcrumb{
    background-color:rgb(255, 255, 255);
    margin:0;
    padding:0;
}

article > ul > li{
    list-style-type: square;
}

article > ol > li{
    list-style-type:decimal;
}

.date{
    margin-bottom:20px;
}