@model Composr.Web.ViewModels.PostSearchViewModel

@*<section class="container">*@
<h1>Mauritian Cuisine</h1>
<p>A spicy, colourful, aromatic and incredibly tasty blend of native African, French, Chinese and Indian cuisine that reflects the ethnic diversity of the people of Mauritius.</p>
@*</section>*@

<div id="myCarousel" class="container carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div style="background:url('images/gateau-banane-banana-fritter.jpg') center center; background-size:cover;" class="slider-size">
                <div class="carousel-caption">
                    <p class="carousel-caption-text">Banana Fritter</p>
                </div>
            </div>
        </div>
        
        <div class="item">
            <div style="background:url('images/besan-ladoo.jpg') center center; background-size:cover;" class="slider-size">
                <div class="carousel-caption">
                    <p class="carousel-caption-text">Besan Ladoo</p>
                </div>
            </div>
        </div>        

        <div class="item">
            <div style="background:url('images/butter-chicken.jpg') center center; background-size:cover;" class="slider-size">
                <div class="carousel-caption">
                    <p class="carousel-caption-text">Butter Chicken</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div style="background:url('images/alouda-cold-milk-beverage.jpg') center center; background-size:cover;" class="slider-size">
                <div class="carousel-caption">
                    <p class="carousel-caption-text">Alouda Cold Milk</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div style="background:url('images/poudine-manioc-cassava-pudding.jpg') center center; background-size:cover;" class="slider-size">
                <div class="carousel-caption">
                    <p class="carousel-caption-text">Cassava Pudding</p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<h2>Recipes</h2>
@Html.Partial("SearchResultsPartialView", Model)
