@model Composr.Web.ViewModels.PostSearchViewModel

<ol class="breadcrumb">
    @foreach(var crumb in Model.Breadcrumbs)
    {
        <li><a href="@(string.IsNullOrWhiteSpace(crumb.Url)? null: crumb.Url)" class="@(crumb.IsActive ? "active": string.Empty)" rel="nofollow">@crumb.Name</a></li>
    }
</ol>