@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization;
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject Composr.Core.Blog Blog
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture;
    var cultureItems = LocOptions.Value.SupportedCultures.Except(new List<CultureInfo> { requestCulture });
    var missingCulture = cultureItems.FirstOrDefault();
}
<a href="@Html.Raw($"{Blog.Url.TrimEnd('/')}/FrontEnd/Translate?sl={@requestCulture.TwoLetterISOLanguageName}&tl={@missingCulture.TwoLetterISOLanguageName}&url={@Context.Request.Path}")" rel="nofollow">@missingCulture.TextInfo.ToTitleCase(@missingCulture.NativeName)</a>