@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IViewLocalizer Localizer
@inject Composr.Core.Blog Blog
@model Composr.Web.ViewModels.BaseFrontEndViewModel
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture;
    var homepage = $"{@Blog.Url.TrimEnd('/')}{@Localizer["/"].Value}".TrimEnd('/');
}
<nav>
    <ul>
        <li><a href="@homepage"><amp-img src="@Model.LogoUrl" layout="fixed" width="120px" height="52px"></amp-img></a></li>
        <li class="navitem">@await Html.PartialAsync("AMPLanguageSelectionPartialView")</li>
        @*<li>toto
            <ul>
                <li><a href="#">Themes</a></li>
                <li><a href="#">Plugins</a></li>
                <li><a href="#">Tutorials</a></li>
            </ul>
        </li>*@
    </ul>
</nav>