@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@model Composr.Web.ViewModels.PostSearchViewModel

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture;
}

@if (Model.PageCount > 1)
{
    <div class="row">
        <div class="text-center">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="@(i == Model.CurrentPage? "active": null)"><a href="/@requestCulture.TwoLetterISOLanguageName/@Model.SearchUrl?@(string.IsNullOrWhiteSpace(Model.SearchQuery)? null: "q=" + Model.SearchQuery + "&")@(string.IsNullOrWhiteSpace(Model.SearchCategory)? null: "cat=" + Model.SearchCategory + "&")page=@i">@i</a></li>
                }
            </ul>
        </div>
    </div>
}
