@model Composr.Web.ViewModels.PostSearchViewModel
@if (Model.PageCount > 1)
{
    <div class="row">
        <div class="text-center">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="@(i == Model.CurrentPage? "active": null)"><a href="/@Model.SearchUrl?@(string.IsNullOrWhiteSpace(Model.SearchQuery)? null: "q=" + Model.SearchQuery + "&")page=@i">@i</a></li>
                }
            </ul>
        </div>
    </div>
}
