@model Composr.Web.ViewModels.PostSearchViewModel
<ul class="media-list">
    @foreach (var result in Model.SearchResults)
    {        
        <li class="col-lg-4 col-md-6 col-sm-6">
            <article class="polaroid">
                <a href="@result.URN">
                    <header><h3 class="polaroid-header">@result.Title</h3></header>
                    <p>@result.Tags</p>
                </a>
            </article>
        </li>        
    }
</ul>