@model IEnumerable<Composr.Core.SearchResult>
<ul class="media-list">
    @foreach (var result in Model)
    {        
        <li class="col-lg-3 col-md-4 col-sm-6">
            <article class="polaroid">
                <a href="@result.URN">
                    @if (result.PostImage != null && !string.IsNullOrWhiteSpace(result.PostImage.Url))
                    {
                        <img src="@result.PostImage.Url.ToLowerInvariant().Replace(".jpg", "-xs.jpg")" alt="@result.PostImage.Caption" class="img-thumbnail" />
                    }
                    else
                    {
                        <img src="~/images/cocozil/no-image-xs.jpg" class="img-thumbnail" />
                    }
                    <header><h4>@result.Title</h4></header>
                </a>
            </article>

        </li>        
    }
</ul>